In [7]:
#! pip install getFamaFrenchFactors

In [6]:
import yfinance as yf
from scipy import stats
import numpy as np
import plotly.express as px
import getFamaFrenchFactors as gff

In [3]:
def download_data_yf(string_tickers, start=None, end=None, interval="1wk"):
    data = yf.download(string_tickers, start=start, end=end, interval=interval)
    data.index  = data.index.date 
    return data

# Multi Factor Models

### Portfolio Returns

$$\boldsymbol{y = \alpha + X\beta + \epsilon}$$
$$y = \tilde{X}\tilde{B} + \epsilon $$
$\tilde{X} = (1  X) $

# <font color='Hunter Green'>**Example**</font>

In [14]:
tickers = 'MSFT'
interval = '1mo'
start = "2000-01-01"
stock_data = download_data_yf(tickers, start, None, interval)["Adj Close"]
stock_data

[*********************100%***********************]  1 of 1 completed

2000-01-01     30.532030
2000-02-01     27.880459
2000-03-01     33.144592
2000-04-01     21.758455
2000-05-01     19.516319
                 ...
2023-01-01    247.190857
2023-02-01    248.796829
2023-03-01    288.299988
2023-04-01    307.260010
2023-05-01    308.700012
Name: Adj Close, Length: 281, dtype: float64

In [10]:
ff3_monthly = gff.famaFrench3Factor(frequency='m')
ff3_monthly.rename(columns={"date_ff_factors": 'Date'}, inplace=True)
ff3_monthly.set_index('Date', inplace=True)
ff3_monthly

            Mkt-RF     SMB     HML      RF
Date
1926-07-31  0.0296 -0.0256 -0.0243  0.0022
1926-08-31  0.0264 -0.0117  0.0382  0.0025
1926-09-30  0.0036 -0.0140  0.0013  0.0023
1926-10-31 -0.0324 -0.0009  0.0070  0.0032
1926-11-30  0.0253 -0.0010 -0.0051  0.0031
...            ...     ...     ...     ...
2022-11-30  0.0460 -0.0340  0.0138  0.0029
2022-12-31 -0.0641 -0.0068  0.0132  0.0033
2023-01-31  0.0665  0.0502 -0.0405  0.0035
2023-02-28 -0.0258  0.0121 -0.0078  0.0034
2023-03-31  0.0251 -0.0559 -0.0901  0.0036

[1161 rows x 4 columns]